#hero {
  background-image: url("../../assets/img/background.jfif");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.spacing {
  height: 50px;
}

.divider {
  font-weight: bold;
}
@media (max-width: 768px) {
  #hero {
    height: 50vh;
  }
}
